<!DOCTYPE html>
<html>
<head>
  <title>School Project</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {		
	
	//Execute the slideShow
	slideShow();

});

function slideShow() {

	//Set the opacity of all images to 0
	$('#gallery a').css({opacity: 0.0});
	
	//Get the first image and display it (set it to full opacity)
	$('#gallery a:first').css({opacity: 1.0});
	
	//Set the caption background to semi-transparent
	$('#gallery .caption').css({opacity: 0.7});

	//Resize the width of the caption according to the image width
	$('#gallery .caption').css({width: $('#gallery a').find('img').css('width')});
	
	//Get the caption of the first image from REL attribute and display it
	$('#gallery .content').html($('#gallery a:first').find('img').attr('rel'))
	.animate({opacity: 0.7}, 400);
	
	//Call the gallery function to run the slideshow, 6000 = change to next image after 6 seconds
	setInterval('gallery()',6000);
	
}

function gallery() {
	
	//if no IMGs have the show class, grab the first image
	var current = ($('#gallery a.show')?  $('#gallery a.show') : $('#gallery a:first'));

	//Get next image, if it reached the end of the slideshow, rotate it back to the first image
	var next = ((current.next().length) ? ((current.next().hasClass('caption'))? $('#gallery a:first') :current.next()) : $('#gallery a:first'));	
	
	//Get next image caption
	var caption = next.find('img').attr('rel');	
	
	//Set the fade in effect for the next image, show class has higher z-index
	next.css({opacity: 0.0})
	.addClass('show')
	.animate({opacity: 1.0}, 1000);

	//Hide the current image
	current.animate({opacity: 0.0}, 1000)
	.removeClass('show');
	
	//Set the opacity to 0 and height to 1px
	$('#gallery .caption').animate({opacity: 0.0}, { queue:false, duration:0 }).animate({height: '1px'}, { queue:true, duration:300 });	
	
	//Animate the caption, opacity to 0.7 and heigth to 100px, a slide up effect
	$('#gallery .caption').animate({opacity: 0.7},100 ).animate({height: '100px'},500 );
	
	//Display the content
	$('#gallery .content').html(caption);
	
	
}

</script>
<style type="text/css">
body{
	font-family:arial
}

.clear {
	clear:both
}

#gallery {
	position:relative;
	height:360px
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500
	}

	#gallery .caption {
		z-index:600; 
		background-color:#000; 
		color:#ffffff; 
		height:100px; 
		width:100%; 
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:5px
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#1DCCEF;
	}
	

</style>
</head>
<body>
<% if admin_signed_in? %>
<%= link_to "Sign Out", destroy_admin_session_path %> 
<% end %>
<div id="wrapper">
  <h1><strong>Education</strong> Department</h1>
  <div id="top-nav">
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
  <div id="mmagic"> </div>
  <div id="header"> </div>
  <div id="spacer"> </div>
  <div id="body">
    <div id="left">
      <div id="nav">
        <div class="clear"> </div>
      </div>
   <div>
        <a href="/pages/2">Home</a> |
        <a href="/pages/3" >About</a> |
        <a href="/pages/4" >Academic</a> | 
        <a href="/pages/5" >Facility</a> | 
        <a href="/pages/6" >Careers</a> |
        <a href="/contacts" >Contact</a> |
     </div>   
<div id="wrapper"> 
	<div class="check"> 
       <div id="gallery" >
			<a href="#" class="show"><img src="/assets/0506159-boys-on-wall.jpg" width="300" height="220" alt="Slide 2" rel="<h3>Curabitur egestas volutpat</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></a>
            <a href="#"><img src="/assets/apple-school.jpg" class="slide" width="300" height="220" alt="" rel="<h3>Cras malesuada turpis duis</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. " /></a>
            <a href="#" ><img src="/assets/books.jpg" class="slide" width="300" height="220" alt="" rel="<h3>Proin elementum urna metus</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. " /></a>
            <a href="#"><img src="/assets/Cultural-Activities.jpg" class="slide" alt="" width="300" height="220" rel="<h3>Morbi imperdiet magna amet</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "/></a>
		 </div>
	<div id="gallery" class="s">
		<div class="caption">
		  <div class="content">
		  </div>
	    </div>
   </div>
<br />
<br />
</div>
<br />
<br />
<br />
<br />
<div id="wrapper">
	<%= yield %>

      </div>
     <div id="copyright">
    <p>&copy; All rights reserved.</p>
  </div>
</div>  
</div> 
</body>
</html>